*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    background-color: #EEEEEE !important;
}

ul{
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}



/* Navbar */
.navbar{
    height: 75px;
    background-color: #ababab;
    /* background-color: #CEA452; */
}

.navbar .logo_padding{
    padding-left: 20px;
}


.navbar .nav-link{
    color: black;
}

.navbar .nav-link:hover{
    color: #D94759;
}

.navbar .logo img{
    width: 220px;
}

.options{
    margin: 0;
    padding-top: 5px ;
    padding-right: 40px;
}

.options li{
    display: inline;
    float: left;
    padding: 5px 5px;
}

.options a{
    font-size: 24px;
    font-weight: 500;
    color: black;
}


/* index.html */
/* Main images */
.container.images{
    text-align: center;
    padding-top: 40px;
}

.container img{

    max-width: 520px;
    max-height: 340px;
    width: 100%;
    height: auto;
}


.carousel-inner img{
    /* width: 91%; */
    height: 400px;
    object-fit: cover;    
}


/* For carousel */
.front_img{
    margin-top: 10px;
    text-align: center;
}

/* Input field */
.container.search{
    padding-top: 10px;
}

.container.search .location{
    width: 100%;
}

.container.search .date,
.container.search .time{
    display: inline-block;
    width: 35%;
}

.container.search .time{
    float: right;
    margin-right: 10.5%;
}

.pickup{
    text-align: left;
    padding-left: 55px;
}

.dropoff{
    text-align: left;
    padding-left: 55px;
}

.container.search .location{
    width: 520px;
    margin-bottom: 12px;
}

.container.search .dt{
    margin-right: 87px
}

.container.search button{
    margin-top: 12px;
    line-height: 0;
    background-color: #D94759;
    color: white;
    font-size: 24px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid black;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.btn:hover span {
    padding-right: 20px;
}
  
.btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Popular Rentals */
.container.pop_rentals{
    padding-left: 40px;
    margin-top: 40px;
}


.container.pop_rentals h2{
    padding-left: 25px;
}

.container.pop_rentals img{
    display: block;
    margin: 0 auto;
    padding-top: 7px;
    max-width: 260px;
    max-height: 165px;
    width: 100%;
    height: auto;
}

.container.pop_rentals .row{
    
    width: 1250px;
    margin: 0px 0px;
}

.container.pop_rentals p{
    padding-top: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


/* Services and prices section */
.services_prices .container-fluid,
.reviews .container-fluid{
    width: 90%;
    margin: 90px auto;
}

.services_prices .big_row{
    margin-top: 60px;
    margin-bottom: 110px;
}

.services_prices .internal_row{
    margin-bottom: 15px;
}

.services_prices .col-7 img{
    width: 98%;
}

.services_prices .class_num{
    color: #D94759;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 600;
}

.services_prices .class_name{
    font-size: 18px;
    font-weight: bold;
}

.services_prices .class_description{
    text-align: justify;
    width: 90%;
}

.services_prices .class_cars{
    margin-top: 50px;
    padding-left: 15px;
    font-style: italic;
    font-weight: 600;
}

.services_prices .class_price{
    margin-top: 40px;
    color: #D94759;
    font-size: 20px;
    font-weight: 700;
}


/* Customer Reviews section */

.reviews .reviews_title{
    margin-bottom: 40px;
}

.reviews .card{
    margin: 15px 0;
}

.reviews .card-title{
    font-size: 23px;
    margin-bottom: 2px;
}

.reviews .review_date {
    display: inline-block;
    color: grey;
    opacity: 80%; 
}

.reviews .card-text {
    width: 95%;
    text-align: justify;
}

.reviews .card-body img{
    width: 13%;
    margin: 0 10px 5px 0;
    display: inline-block;
}


/* about.html */
.about.row{
    margin-top: 30px;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

/* Col1 content */
.col1_content{
    padding-left: 60px;
}

/* How Tempo works */
.how_tempo_works{
    max-width: 65%;
}

.how_tempo_works p{
    margin-left: 32px;
    margin-bottom: 0;
}

.how_tempo_works h1{
    margin-bottom: 20px;
}

.how_tempo_works h4{
    margin-bottom: 3px;
}

.how_tempo_works li{
    padding-bottom: 5px;
}

/* Rental Agents */
.rental_agents .col{
    /* background-color: aqua; */
    padding: 0;
}

.rental_agents .col-2{
    padding: 0;
}

.rental_agents .row{
    padding-bottom: 25px;
    /* margin-left: 10px; */
}

.rental_agents h1{
    margin-top: 25px;
    margin-bottom: 25px;
}

.rental_agents img{
    max-width: 110px;
    max-height: 125px;
    width: 100%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rental_agents .wrapper{
    max-width: 70%;
}

/* Col2 content */
.col2_content{

}

.col2_content img{
    max-width: 480px;
    max-height: 320px;
    width: 100%;
    height: auto;
    margin-left: 60px;
    margin-bottom: 65px;
}


/* contact.html */
.contact .row{
    margin-top: 30px;
}

.contact .our_office p{
    max-width: 80%;
    margin-bottom: 40px;
}

iframe{
    height: 500px;
    width: 80%;
}

.contact .col2_content{
    margin-left: 20px;
}

.contact .col2_content .row{
    margin-top: 0;
}

.contact .col2_content h1{
    margin-bottom: 20px;
}

.contact .col2_content p{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0;
}

.contact svg{
    width: 27px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.contact .indent{
    margin-left: 42px;
}


/* Results Page */
.details_bar{
    height: 85px;
    background-color: #d2d2d2;
    margin-bottom: 50px;
}

.details_bar .col-4{
    padding-left: 80px;
}

.details_bar .col-8{
    padding-right: 100px;
}

.details_bar input{
    margin: 25px 10px 0 10px;
}

.details_bar input{
    max-height: 40px;
    max-width: 200px; 
    width: auto;
    border: 2px solid;
    display: inline-block;
}

.search_results .content .row{
    margin: 25px 0;
    margin-left: 3%;
    margin-right: 30%;
    background-color: #d3d2d2;
    max-height: 190px;
    border-radius: 7px;
}

.content .col-2, .content .col-3, .content .col-7{
    padding: 0;
    /* margin-left: 15px; */
}

.search_results .content .col-3{
    display: flex;
    justify-content: center;
}

.search_results .picture img{
    max-width: 210px;
    max-height: 120px;
    width: 100%;
    height: auto;

    margin: 20px 0 20px 0;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
}

.content .col-2 .row{
    margin: 0;
}

.content .col-2 h4{
    margin-top: 25px;
    margin-bottom: 10px;
    padding-left: 0;
}

.search_results .content a{
    padding: 0;
}

#reserve_button{
    margin: 0;
    line-height: 10px;
    text-align: center;
    background-color: #D94759;
    color: white;
    font-size: 21px;
    width: 110px;
    height: 35px;
    border-radius: 10px;
    border: 1.5px solid black;
    padding: 0;
}

.content p{
    margin-bottom: 3px;
    display: inline-block;
    font-weight: 300;
}

.content .description h4{
    margin-bottom: 4px;
}

.uitk-icon-small{
    width: 25px;
    height: 25px;
    stroke-opacity: 0;
    margin-right: 5px;
}

/* personal_info page */
.personal_info .content{
    margin: 25px 0;
    margin-left: 3%;
}

.personal_info .information h2{
    margin-bottom: 30px;
}


.personal_info #target{
    margin-top: 100px;
    margin-bottom: 80px;
}
.personal_info #target img{
    width: 85%;
    margin: 0;
    padding-left: 10px;
}

.personal_info #target .description,
.personal_info #target .price{
    padding: 0;
}

.personal_info #target .price h4{
    margin-top: 0;
}

.personal_info .information .form-group{
    margin: 0 40px 10px 0;
    width: 35%;
}

.personal_info .information .form-group label{
    margin-bottom: 3px;
    font-size: 18px;
}

#confirm_button{
    margin: 30px 0 0 0;
    line-height: 10px;
    text-align: center;
    background-color: #D94759;
    color: white;
    font-size: 24px;
    width: 130px;
    height: 38px;
    border-radius: 10px;
    border: 1.5px solid black;
    padding: 0;
}

/* Confirmation page */
.confirmation .booking_details .details{
    padding: 12% 5% 7% 5%;
    text-align: center;
}

.confirmation .booking_details h2{
    padding: 5px;
}

.confirmation .booking_details span{
    font-size: 30px;
    font-weight: 350;
}

.confirmation .booking_details .checkmark{
    text-align: center;
}

.confirmation .booking_details .checkmark h1{
    display: inline-block;
}

.confirmation .booking_details .checkmark img{
    display: inline-block;
    width: 80px;
    margin-bottom: 3%;
    margin-left: 10px;
}

