body{
    background-color: #EEEEEE !important;
}

ul{
    list-style-type: none;
}

/* Navbar */
.navbar{
    height: 75px;
    background-color: #CEA452;

    position: sticky;
    top: 0;
}

.navbar .navbar-brand{
    margin: 0;
    padding: 0;
}

.navbar .logo_padding{
    padding-left: 20px;
    padding-bottom: 40px;
}

.navbar .logo p{
    display: inline-block;
    font-size: 40px;
    font-weight: 550;
    color: #DB1F36;
    margin: 0;
    padding-right: 5px;
}

.navbar .logo img{
    width: 65px;
    height: 65px;
}

.options{
    margin: 0;
    padding-bottom: 32px;
    padding-right: 40px;
}

.options li{
    display: inline;
    float: left;
    padding: 0px 5px;
}

.options a{
    font-size: 23px;
    font-weight: 500;
    color: black;
}

.options a img{
    width: 28px;
    height: 35px;
}

/* index.html */
/* Main images */
.container.images{
    text-align: center;
    padding-top: 40px;
}

.container img{
    max-width: 520px;
    max-height: 340px;
    width: 100%;
    height: auto;
}

/* Input field */
.container.search{
    padding-top: 10px;
}

.container.search input{
    height: 38px;
    padding: 8px 8px;
    width: 215px;
}

.pickup{
    text-align: left;
    padding-left: 55px;
}

.dropoff{
    text-align: left;
    padding-left: 55px;
}

.container.search .location{
    width: 520px;
    margin-bottom: 12px;
}

.container.search .dt{
    margin-right: 87px
}

.container.search button{
    margin-top: 12px;
    line-height: 0;
    background-color: #D94759;
    color: white;
    font-size: 24px;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid black;
}

/* Popular Rentals */
.container.pop_rentals{
    padding-left: 40px;
    margin-top: 40px;
}

.container.pop_rentals h2{
    padding-left: 25px;
}

.container.pop_rentals img{
    display: block;
    margin: 0 auto;
    padding-top: 7px;
    max-width: 260px;
    max-height: 165px;
    width: 100%;
    height: auto;
}

.container.pop_rentals .row{
    width: 1250px;
    margin: 0px 0px;
}

.container.pop_rentals p{
    padding-top: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}



/* about.html */
.about.row{
    margin-top: 30px;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

/* Col1 content */
.col1_content{
    padding-left: 60px;
}

/* How Tempo works */
.how_tempo_works{
    max-width: 60%;
}

.how_tempo_works p{
    margin-left: 23px;
    margin-bottom: 0;
}

.how_tempo_works h1{
    margin-bottom: 20px;
}

.how_tempo_works h4{
    margin-bottom: 3px;
}

.how_tempo_works li{
    padding-bottom: 5px;
}

/* Rental Agents */
.rental_agents .col{
    /* background-color: aqua; */
    padding: 0;
}

.rental_agents .col-2{
    padding: 0;
}

.rental_agents .row{
    padding-bottom: 25px;
    /* margin-left: 10px; */
}

.rental_agents h1{
    margin-top: 25px;
    margin-bottom: 25px;
}

.rental_agents img{
    max-width: 110px;
    max-height: 125px;
    width: 100%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rental_agents .wrapper{
    max-width: 70%;
}

/* Col2 content */
.col2_content{

}

.col2_content img{
    max-width: 480px;
    max-height: 320px;
    width: 100%;
    height: auto;
    margin-left: 60px;
    margin-bottom: 65px;
}


/* contact.html */
.contact .row{
    margin-top: 30px;
}

.contact .our_office p{
    max-width: 70%;
    margin-bottom: 40px;
}

iframe{
    height: 400px;
    width: 70%;
}

.contact .col2_content{
    margin-left: 20px;
}

.contact .col2_content .row{
    margin-top: 0;
}

.contact .col2_content h1{
    margin-bottom: 20px;
}

.contact .col2_content p{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0;
}


/* Results Page */
.details_bar{
    height: 85px;
    background-color: #d3d2d2;
    /* border-bottom: 10px solid; */
}

.details_bar form{
    justify-content: center;
    display: flex;
}
.details_bar .location{
    padding-right: 200px;
}

.details_bar input{
    margin-top: 25px;
    margin-right: 20px;
}

.details_bar input{
    max-height: 40px;
    height: auto;
    padding: 8px 8px;
    border-radius: 5px;
    border: 2px solid;
}
